.control-screen-component {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    z-index: 1000;
    --border-width: 2pt;
    border: var(--border-width) solid transparent;

    &.dragged-over {
        background-color: #00f5;
        border: var(--border-width) solid #00fa;
    }

    .button-strip {
        display: flex;
        position: fixed;
        gap: 1em;
        top: 0;
        width: 100%;
        justify-content: flex-start;
        align-items: center;
        background-color: #4d54c783;

        button {
            padding: 4pt;
            background-color: unset;
            border: 0;
            border-radius: 0;
            margin: 0;
            font-weight: normal;

            &:hover {
                background-color: navy;
            }
        }
    }

    .drop-message {
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: auto;
        color: gray;
        border: 1pt solid gray;
        font-size: 10pt;
        padding: 0.25em 0.5em;
        border-radius: 4pt;
        background-color: rgba(169, 169, 169, 0.068);
        z-index: 1001;
        pointer-events: stroke;
        cursor: default;
    }

    .drop-message:hover {
        color: white;
    }
}