.broadcast-screen-component {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;

    .broadcast-pane {
        background: #333;
        z-index: 10;
        position: absolute;
        bottom: 0;
        left: 0;
        height: 100vh;
        width: 100vw;
        overflow: hidden;

        video,
        iframe {
            min-width: 100%;
            min-height: 100%;
        }
    }

    .lower-third {
        position: absolute;
        width: 100%;
        height: auto;
        bottom: 0;
    }

    button:hover,
    button:focus {
        border: 2pt solid white;
    }
}