.control-screen-component {
    --video-thumb-height: 120px;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    z-index: 1000;
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;

    .button-strip {
        display: flex;
        gap: 1em;
    }
}

.control-screen-component::before {
    content: "";
    position: absolute;
    inset: 0;
    background-image: url('globe.gif');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    filter: blur(5px) brightness(0.6);
    z-index: -1;
}