.banner-text-component {
    height: 4em;
    z-index: 300;
    background-color: rgb(2, 2, 88);
    background: #3F5EFB;
    background: radial-gradient(circle, rgba(63, 94, 251, 1) 0%, rgb(211, 51, 83) 100%);
    color: white;
    display: flex;
    align-items: center;

    img {
        height: 100%;
        width: auto;
        object-fit: contain;
        border: 0;
        margin-right: 1em;
    }

    hgroup {
        flex: 1;
        opacity: 0.9;
        overflow: hidden;
        display: flex;
        flex-direction: column;

        h1 {
            display: flex;
            font-weight: 900;
            letter-spacing: 0.3pt;
            overflow: hidden;
            font-size: 2em;
            text-transform: capitalize;
        }

        h1,
        h2 {
            margin: 0;
            padding: 0;
        }

        h2 {
            font-size: 100%;
        }

        h2:empty {
            display: none;
        }
    }
}