.capture-controls {
    z-index: 200;

    button {
        height: 2em;
        z-index: 300;
        padding: 0.3em 1em;
        margin: 1em;
        cursor: pointer;
        color: white;
        border: none;
        border-radius: 0.3em;
        outline: 1pt soild transparent;
    }
}