.help-component {
    position: relative;
    display: inline-block;
    cursor: default;
}

.help-component-icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 1.25rem;
    height: 1.25rem;
    font-weight: bold;
    font-size: 0.75rem;
    margin-left: 1em;
    position: relative;
    top: -0.5em;
    color: var(--cap-modal-bg);
    border-radius: 50%;
    cursor: pointer;
    user-select: none;
    outline: none;
    transition: background-color 0.2s;

    color: #fff7;
    border: 1pt solid #fff7;

    &:hover,
    &:focus {
        background-color: #333;
        color: #fffc;
        border-color: #fffc;
    }
}

.help-content {
    z-index: 10000;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: var(--cap-modal-bg);
    color: #fffc;
    padding: 0.75rem;
    border: 1px solid #fffc;
    border-radius: 0.5rem;
    width: 250px;
    margin-top: 0.5rem;
    box-shadow: 0 2pt 10pt rgba(0, 0, 0, 0.1);

    p {
        margin: 0 0 0.5rem 0;
        font-size: 0.9rem;
        line-height: 1.4;

        &:last-child {
            margin-bottom: 0;
        }
    }
}