.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10000;
}

.modal {
    background-color: var(--cap-modal-bg, black);
    padding: 1.5rem;
    border-radius: 8px;
    width: 90%;
    max-width: 400px;
    border: 1pt solid gray;
}

label {
    display: block;
    margin-bottom: 1rem;

    input {
        width: 100%;
        padding: 0.5rem;
        margin-top: 0.25rem;
    }
}

.actions {
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
}