.ticker {
    position: relative;
    bottom: 0;
    background-color: navy;
    color: white;
    border-top: 1pt solid white;
    border-bottom: 1pt solid white;
    display: flex;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 600;
    letter-spacing: 0.3pt;
    overflow: hidden;
    z-index: 300;
    width: 100%;
    --size: 2em;
    font-size: var(--size);
    min-height: var(--size);
    height: var(--size);
    line-height: var(--size);
}

.ticker-item {
    position: absolute;
    top: 0;
    left: 0;
    white-space: nowrap;
    will-change: transform;
}

.ticker-item:after {
    content: ' ';
}