.ticker {
    position: relative;
    background-color: rgb(9, 9, 194);
    color: white;
    overflow: hidden;
    z-index: 300;
    width: 100%;
    will-change: transform;
    font-variant: small-caps;
    text-transform: lowercase;
    font-size: 16pt;
    font-weight: 400;
    opacity: 0.9;
    min-height: 24pt;
    height: 24pt;
    line-height: 24pt;
    white-space: nowrap;
    margin: 0;
    padding: 0;

    .ticker-item {
        position: absolute;
        top: 0;
        left: 0;
        white-space: nowrap;
        margin: 0;
        padding: 0;
    }

    .ticker-item:after {
        content: ' · ';
    }
}