.ticker {
    position: relative;
    background-color: navy;
    color: white;
    border-top: 1pt solid rgba(255, 255, 255, 0.87);
    border-bottom: 1pt solid rgba(255, 255, 255, 0.87);
    display: flex;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: normal;
    overflow: hidden;
    z-index: 300;
    width: 100%;
    font-size: 18pt;
    min-height: 24pt;
    height: 24pt;
    line-height: 24pt;
}

.ticker-item {
    position: absolute;
    top: 0;
    left: 0;
    white-space: nowrap;
    will-change: transform;
}

.ticker-item:after {
    content: ' ';
}