.ticker {
    position: relative;
    background-color: navy;
    color: white;
    border-top: 1px solid rgba(255, 255, 255, 0.87);
    border-bottom: 1px solid rgba(255, 255, 255, 0.87);
    display: flex;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    overflow: hidden;
    z-index: 300;
    width: 100%;
    font-size: 18pt;
    will-change: transform;
    font-variant: small-caps;
    text-transform: lowercase;
    font-weight: 100;
    min-height: 24pt;
    height: 24pt;
    line-height: 24pt;

    .ticker-item {
        position: absolute;
        top: 0;
        left: 0;
        white-space: nowrap;
    }

    .ticker-item:after {
        content: ' ';
    }
}