/* VideoDropPlayer.css */

iframe {
    border: none;
}

.video-thumbs {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.video-thumbs nav li {
    overflow: none;
    max-width: 120px;
    margin: 0.5em;
    cursor: pointer;
}

.large-video {
    margin-bottom: 1em;
    position: relative;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    height: 100%;
    width: 100%;
    overflow: hidden;
    display: flex;
}

.large-video-overlay {
    position: absolute;
    width: 100%;
    height: auto;
    bottom: 0;
}

.large-video iframe {
    min-width: 100%;
    min-height: 90%;
}